{% extends 'base.html' %}


 
{% block content %}
<main container py-5>
    <section class=" card card-body">
    <h1 class="display-1 text-center">Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam doloremque, ducimus et officiis nemo laudantium nihil saepe error eaque. Debitis maxime illum officia facilis nostrum cum quos corrupti sapiente tempora, non molestiae vel vitae dolorem repellendus provident itaque repudiandae autem. Est, sequi! Fugiat fugit beatae tenetur voluptas aliquam quasi ipsum. Nobis omnis illum tempora amet totam quidem, iure libero modi eligendi voluptas distinctio beatae, facere dolor quaerat at animi voluptatibus quod? Reprehenderit ipsum, dolore reiciendis quae, ipsam quam aperiam at dolor consequuntur minus iusto fugiat consequatur obcaecati facilis officiis iste veritatis sequi. Quaerat repellendus eveniet recusandae illo est aliquam perferendis!</p>

<div class="text-center">
    <a class="btn btn-secondary" href="/signin/">
        Signin
    </a>
    <a class="btn btn-dark" href="/signup/">
        signup
    </a>
</div>
    </section>
</main>
{% endblock %}